header.header {

    background-color: #0063B1;
    padding: 12px 15px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}

header.header h3 {
    float: left;
    text-align: left;
    font-weight: 500;
    font-size:  18px;
    color: #FFFFFF;

}

header.header i {
    text-align: right;
    float: right;
    font-weight: 500;
    color: #f9f9f9;
    font-size: 30px;
}