aside.menu-area {
    padding: 12px 15px;
    font-size: 14px;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 300;
}

.newTag {
    background-color: #f4f4f4;
    border-style: none;
}

.count {
    text-align: right;
}

.menu-iten {
    color: #808080;
}
